---
import { loadPlays } from "../../airtable/data/plays";
import SubscribeBlurb from "../../components/SubscribeBlurb.astro";
import PlayBox from "../../components/infoboxes/PlayBox.astro";
import ExternalLink from "../../components/links/ExternalLink.astro";
import RoundedLink from "../../components/links/RoundedLink.astro";
import SubtleLink from "../../components/links/SubtleLink.astro";
import Layout from "../../layouts/Layout.astro";
import { genrePermalink, seoTitle } from "../../utils";

// this controls the /games and /games/all routes
type Result = Array<{ params: { slug: string | undefined } }>;
export const getStaticPaths = (): Result => [
  {
    params: {
      slug: undefined,
    },
  },
  {
    params: {
      slug: "all",
    },
  },
];

const showAll = !!Astro.params.slug;

const plays = await loadPlays();
const numUniqueGames = new Set(plays.map((p) => p.game.igdbId)).size;

const title = showAll ? "Every Reviewed Game" : "Recently Reviewed Games";
const limit = showAll ? undefined : 100;
---

<Layout
  pageTitle={`All Games`}
  seoTitle={seoTitle(`Games!`)}
  seoDescription={`David shares thoughts about the ${numUniqueGames} games he's played.`}
  activeTab="games"
>
  <h1 class="pb-3 pt-2 text-2xl">{title}</h1>
  <p class="pb-3">
    There are {plays.length} reviews of {numUniqueGames}
     games. Each game notes a simple genre and play type (first time, replays,
    DLC, etc). {
      !showAll && (
        <>
          This is the most recent {limit}; you can also{" "}
          <SubtleLink href="/games/all/">see all</SubtleLink>.
        </>
      )
    }
  </p>
  <p class="pb-3">
    Each game notes its <RoundedLink href={genrePermalink("")}>
      {"genre"}
    </RoundedLink>, and you can click through to see all the others games from
    that genre I've played.
  </p>
  <SubscribeBlurb mediaType="game" />
  <ul
    class="mb-3 rounded bg-blue-50 p-2 dark:bg-blue-950 dark:ring-1 dark:ring-white"
  >
    <li>🛑 - Neglected to finish a beatable game</li>
    <li>
      🥇 / 🥈 / 🥉 -
      <ExternalLink href="https://xavd.id/blog/tags/yearly-review">
        {"Favorite of the Year"}
      </ExternalLink> honoree.
    </li>
  </ul>
  <div>
    {plays.slice(0, limit).map((play) => <PlayBox play={play} />)}
  </div>
</Layout>
