---
import { loadReads, type Read } from "../../../airtable/data/reads";
import type { Series } from "../../../airtable/data/series";
import AuthorList from "../../../components/AuthorList.astro";
import BookLegend from "../../../components/BookLegend.astro";
import ReadBox from "../../../components/infoboxes/ReadBox.astro";
import OmniLink from "../../../components/links/OmniLink.astro";
import PageTitle from "../../../components/PageTitle.astro";
import Rating from "../../../components/Rating.astro";
import RoundedText from "../../../components/RoundedText.astro";
import SubscribeBlurb from "../../../components/SubscribeBlurb.astro";
import Layout from "../../../layouts/Layout.astro";
import {
  averageRating,
  maxIsoDate,
  pluralize,
  ratingPage,
  seoTitle,
} from "../../../utils/data";

type Params = {
  seriesSlug: string;
};

type Props = Series & {
  reads: Read[];
  publishedOn: string;
  updatedOn?: string;
};

// own row for weird export reasons
type Result = Promise<Array<{ params: Params; props: Props }>>;
export const getStaticPaths = async (): Result => {
  const reads = await loadReads();

  const series = reads.reduce<Record<string, Props>>((result, read) => {
    const series = read.book.series;
    if (series) {
      const seriesSlug = series.slug;

      result[seriesSlug] ||= {
        ...series,
        reads: [],
        publishedOn: "",
      };

      result[seriesSlug].reads.push(read);

      if (read.isReread) {
        result[seriesSlug].updatedOn = maxIsoDate(
          result[seriesSlug].updatedOn,
          read.dateFinished,
        );
      } else {
        result[seriesSlug].publishedOn = read.dateFinished;
      }
    }
    return result;
  }, {});

  return Object.entries(series).map(([_, props]) => ({
    params: { seriesSlug: props.slug },
    props,
  }));
};

const {
  reads,
  name,
  numBooksInSeries,
  remarks,
  percentComplete,
  publishedOn,
  updatedOn,
} = Astro.props;
const seriesComplete = (numBooksInSeries ?? 0) > 0;
if (seriesComplete && numBooksInSeries == null) {
  throw new Error(`There's a comple series without a fixed number of books.`);
}
const readAll = percentComplete === 100;
const numUniqueBooks = new Set(reads.map((r) => r.book.gbid)).size;
---

<Layout
  pageTitle={`${name} Series - Books`}
  pageDescription={`David shares thoughts about the ${numUniqueBooks} ${pluralize(
    numUniqueBooks,
    "book",
  )} he's read from the ${name} series.`}
  seoTitle={seoTitle(`The ${name} Series`)}
  seoDescription={`There's an average score of ${averageRating(
    reads,
  )}â­ for the ${numUniqueBooks} ${pluralize(numUniqueBooks, "book")}.`}
  activeTab="books"
  publishedOn={publishedOn}
  updatedOn={updatedOn}
>
  <PageTitle>
    Reviews for Books in The <RoundedText text={name} /> series
  </PageTitle>
  <p class="py-3">
    {/* all series are by a single set of authors, for now */}
     by <AuthorList authors={reads[0].book.authors} style="rounded" />
  </p>
  <p class="pb-3 pt-2">
    {
      seriesComplete && numBooksInSeries != null ? (
        <>
          I've read {readAll ? "all" : numUniqueBooks} of the {numBooksInSeries}{" "}
          {pluralize(numBooksInSeries, "book")} in this series.
        </>
      ) : (
        <>
          I've read {numUniqueBooks} {pluralize(numUniqueBooks, "book")} in this
          series so far.
        </>
      )
    } There {pluralize(reads, "is", "are", true)}
    {reads.length}
    {pluralize(reads, "review")} of {numUniqueBooks > 1 ? "those" : "that"}
    {pluralize(numUniqueBooks, "book")} for an average score of {
      averageRating(reads)
    }
     (<OmniLink href={`${ratingPage("books")}`}>
      {"out of 4"}
    </OmniLink>).
  </p>
  {
    remarks && (
      <div class="pb-4">
        {/* stack everything inline to get nice star ratings */}
        <p class="inline">
          I rated this series{" "}
          <Rating rating={remarks.rating} classes={["inline"]} /> overall and
          said:
        </p>
        <p class="mt-2 border-s-4 border-emerald-950 pl-4 italic dark:border-emerald-50">
          {remarks.notes}
        </p>
      </div>
    )
  }
  <BookLegend />
  <div>
    {
      reads
        // eslint-disable-next-line @typescript-eslint/no-non-null-assertion
        .sort((a, b) => a.book.numberInSeries! - b.book.numberInSeries!)
        .map((read) => (
          <ReadBox
            read={read}
            omitAuthorIds={read.book.authors.map((a) => a.recordId)}
            linkToSeries={false}
            nameSeries={false}
          />
        ))
    }
  </div>
  <SubscribeBlurb centered mediaType="book" />
</Layout>
