---
import { loadWatches, type Watch } from "../../../airtable/data/watches";
import { awardYears, buildAwardUrl } from "../../../awards";
import MovieLegend from "../../../components/MovieLegend.astro";
import PageTitle from "../../../components/PageTitle.astro";
import SubscribeBlurb from "../../../components/SubscribeBlurb.astro";
import WatchBox from "../../../components/infoboxes/WatchBox.astro";
import OmniLink from "../../../components/mdx/OmniLink.astro";
import Layout from "../../../layouts/Layout.astro";
import { seoTitle } from "../../../utils/data";

type Params = { year: string };

export const getStaticPaths: () => Array<{ params: Params }> = () => {
  return awardYears.map((year) => ({ params: { year: year.toString() } }));
};

const watches = await loadWatches();
const watchCounts: Record<string, number> = {};

const { year } = Astro.params as Params;

const watchesWithCounts: Watch[] = watches
  .filter((w) => w.isFirstWatch && w.dateFinished.startsWith(year.toString()))
  .toReversed();

const collectionEmoji = new Set<string>(
  watchesWithCounts
    .map(({ movie }) => movie.collections?.map((c) => c.emoji))
    .flat()
    .filter(Boolean) as string[],
);

const awardUrl = buildAwardUrl(parseInt(year), "movies");
---

<Layout
  pageTitle={`${year} Movies`}
  seoTitle={seoTitle(`Movies he saw for the first time in ${year}!`)}
  pageDescription={`David shares thoughts about the ${
    Object.keys(watchCounts).length
  } movies he watched in ${year}.`}
  activeTab="movies"
>
  <PageTitle>Every Movie I Watched in {year}</PageTitle>
  <p class="pb-3">
    I watched {watchesWithCounts.length} new-to-me movies in {year}. I <OmniLink
      href={awardUrl}
    >
      {"wrote in more detail"}
    </OmniLink> about my favorites.
  </p>
  <SubscribeBlurb mediaType="movie" classes="pb-3" />
  <MovieLegend
    collectionEmoji={collectionEmoji}
    specificAwardUrl={awardUrl}
    showFirstTimeAsterisk={false}
  />
  <div>
    {watchesWithCounts.map((watch) => <WatchBox watch={watch} numWatch={1} />)}
  </div>
</Layout>
