---
import { Image } from "astro:assets";
import { GENRE_DESCRIPTIONS, type Game } from "../../../airtable/data/games";
import {
  loadPlays,
  type Play,
  type PlayTypes,
} from "../../../airtable/data/plays";
import Rating from "../../../components/Rating.astro";
import RoundedText from "../../../components/RoundedText.astro";
import RoundedLink from "../../../components/links/RoundedLink.astro";
import TitleLink from "../../../components/links/TitleLink.astro";
import Layout from "../../../layouts/Layout.astro";
import { genrePermalink, seoTitle } from "../../../utils/data";
import PageTitle from "../../../components/PageTitle.astro";

type Params = {
  genreSlug: string;
};

type GameAndPlays = {
  game: Game;
  plays: Play[];
};
type Props = {
  genre: { name: string; slug: string };
  games: GameAndPlays[];
};

// own row for weird export reasons
type Result = Promise<Array<{ params: Params; props: Props }>>;
export const getStaticPaths = async (): Result => {
  const plays = await loadPlays();

  const games = plays.reduce<Record<string, GameAndPlays>>((result, play) => {
    // for review/average, only note full plays
    if (
      (["First Time", "Replay", "New Edition"] as PlayTypes[]).includes(
        play.playType,
      )
    ) {
      const igdbId = play.game.igdbId;

      result[igdbId] ||= {
        game: play.game,
        plays: [],
      };

      result[igdbId].plays.push(play);
    }
    return result;
  }, {});

  const genres = Object.values(games).reduce<Record<string, Props>>(
    (result, gameWithPlays) => {
      const { name, slug } = gameWithPlays.game.genre;

      result[slug] ||= {
        genre: { name, slug },
        games: [],
      };

      result[slug].games.push(gameWithPlays);

      return result;
    },
    {},
  );

  return Object.entries(genres).map(([genreSlug, props]) => ({
    params: { genreSlug },
    props,
  }));
};

const { games, genre } = Astro.props;
const processedGames = games
  .map(({ game, plays }) => {
    // i'm going to show info about the most relevant play, which is probably the one I had the most to say about
    const bestPlay = plays.reduce((result, item) =>
      result.notes.length > item.notes.length ? result : item,
    );

    return {
      title: game.title,
      rating: bestPlay.rating,
      permalink: game.permalink,
      posterUrl: game.posterUrl,
      dateFinished: bestPlay.dateFinished,
      // the longest review is probably the best one?
      blurb: bestPlay.notes,
    };
  })
  // if someone is reading this page, we can assume they'd sort by score
  // in ties, it's most recent first, which should be fine
  .toSorted(
    (a, b) =>
      b.rating - a.rating ||
      new Date(b.dateFinished).valueOf() - new Date(a.dateFinished).valueOf(),
  );
---

<Layout
  pageTitle={`${genre.name} Games`}
  seoTitle={seoTitle(`${genre.name} Games`)}
  seoDescription={`David shares thoughts about the ${processedGames.length} ${
    genre.name
  } game${games.length > 1 ? "s" : ""} he's played.`}
  activeTab="games"
>
  <div class="py-3">
    <PageTitle>
      <RoundedText text={genre.name} /> Games I've Played
    </PageTitle>
    <p class="pt-3">
      {genre.name} games are categorized by a primary gameplay loop of {
        GENRE_DESCRIPTIONS[genre.slug] ??
          (() => {
            throw new Error("MISSING GENRE DESCRIPTION!");
          })()
      } I've played {games.length} game{games.length > 1 ? "s" : ""} in this
      genre so far.
    </p>
    <p class="pt-2">
      You can also go back to <RoundedLink href={genrePermalink("")}>
        {"all genres"}
      </RoundedLink>.
    </p>
  </div>
  <div>
    {
      processedGames.map(({ title, rating, permalink, posterUrl, blurb }) => (
        <div class="mb-4 flex rounded border-2 border-blue-600 p-2 even:bg-blue-50 dark:even:bg-zinc-700">
          <a href={permalink}>
            <Image
              class="max-w-[unset]"
              src={posterUrl}
              alt={`poster for ${title}`}
              height={187.5}
              width={125}
            />
          </a>
          <div class="pl-4">
            <h3>
              <TitleLink classes={["text-xl"]} href={permalink}>
                {title}
              </TitleLink>
            </h3>

            <div class="pt-1">
              <Rating rating={rating} />
            </div>
            <p class="mt-2 border-l-2 border-blue-600 pl-2 italic">{blurb}</p>
          </div>
        </div>
      ))
    }
  </div>
</Layout>
