---
import { Image } from "astro:assets";
import type { Movie } from "../../../airtable/data/movies";
import { loadWatches, type Watch } from "../../../airtable/data/watches";
import type { Collection } from "../../../airtable/types";
import OmniLink from "../../../components/links/OmniLink.astro";
import TitleLink from "../../../components/links/TitleLink.astro";
import PageTitle from "../../../components/PageTitle.astro";
import RoundedText from "../../../components/RoundedText.astro";
import Layout from "../../../layouts/Layout.astro";
import {
  averageRating,
  collectionPermalink,
  pluralize,
  ratingPage,
  seoTitle,
} from "../../../utils/data";

type Params = {
  collectionSlug: string;
};

type MovieAndWatches = {
  movie: Movie;
  watches: Watch[];
};
type Props = {
  collection: Collection;
  movies: MovieAndWatches[];
};

// own row for weird export reasons
type Result = Promise<Array<{ params: Params; props: Props }>>;
export const getStaticPaths = async (): Result => {
  const watches = await loadWatches();

  const movies = watches.reduce<Record<string, MovieAndWatches>>(
    (result, watch) => {
      if (watch.movie.collections) {
        const tmdbId = watch.movie.tmdbId;
        result[tmdbId] ||= {
          movie: watch.movie,
          watches: [],
        };
        result[tmdbId].watches.push(watch);
      }

      return result;
    },
    {},
  );

  const collections = Object.values(movies).reduce<Record<string, Props>>(
    (result, movieWithWatches) => {
      movieWithWatches.movie.collections?.forEach((collection) => {
        result[collection.slug] ||= {
          collection,
          movies: [],
        };

        result[collection.slug].movies.push(movieWithWatches);
      });

      return result;
    },
    {},
  );

  return Object.entries(collections).map(([collectionSlug, props]) => ({
    params: { collectionSlug },
    props,
  }));
};

const { movies, collection } = Astro.props;
const sortedMovies = movies
  .map(({ movie: { title, permalink, posterUrl }, watches }) => ({
    title,
    avgRating: averageRating(watches),
    numWatches: watches.length,
    permalink,
    posterUrl,
    // the longest review is probably the best one?
    blurb: watches.reduce<string>((result, { notes }) => {
      return result.length > notes.length ? result : notes;
    }, ""),
  }))
  .toSorted((a, b) => b.numWatches - a.numWatches || b.avgRating - a.avgRating);
---

<Layout
  pageTitle={`${collection.fullName} Movies`}
  pageDescription={`Find your next favorite ${collection.fullName} from my curated list of ${movies.length}.`}
  seoTitle={seoTitle(`${collection.fullName} Movies`)}
  activeTab="movies"
>
  <div class="py-3">
    <PageTitle>
      My Favorite <RoundedText text={collection.fullName} /> Movies
    </PageTitle>
    <p class="py-2">
      The {movies.length} movies below are some of my favories in this genre.
      Whenever this season or mood arrives, items from this list are my go-to
      comfort food. To qualify, a movie must be solidly in-genre <em
        >and be highly rated (or purposefully bad)</em
      >. Either way, these are the cream of their respective crop.
    </p>
    <p class="py-2">
      Each movie is scored on my <OmniLink href={ratingPage("movies")}>
        {"4-point rating system"}
      </OmniLink>. Please <OmniLink href="/contact/">
        {"let me know"}
      </OmniLink> if you'd like to nominate an addition!
    </p>
    <p class="py-2">
      ⬅️ Or, head back to <OmniLink href={collectionPermalink("movies", "")}>
        {"All Collections"}
      </OmniLink>
    </p>
  </div>
  <div>
    {
      sortedMovies.map(
        ({ title, avgRating, numWatches, permalink, posterUrl, blurb }) => (
          <div class="mb-4 flex rounded border-2 border-red-600 p-2 even:bg-red-50 dark:even:bg-zinc-700">
            <a slot="image" href={permalink}>
              <Image
                class="max-w-[unset]"
                src={posterUrl}
                alt={`poster for ${title}`}
                height={180}
                width={120}
              />
            </a>
            <div class="pl-4">
              <TitleLink classes={["text-xl"]} href={permalink}>
                {title}
              </TitleLink>

              <div>
                Watched {numWatches} {pluralize(numWatches, "time")}.
              </div>
              <div>Avg Rating: {avgRating}/4⭐</div>
              <p class="mt-2 border-l-2 border-red-600 pl-2 italic">{blurb}</p>
            </div>
          </div>
        ),
      )
    }
  </div>
</Layout>
