---
import { Image } from "astro:assets";

import { loadInProgessPlays } from "../airtable/data/inProgressPlays";
import { loadInProgressReads } from "../airtable/data/inProgressReads";
import SubtleLink from "../components/links/SubtleLink.astro";
import Layout from "../layouts/Layout.astro";
import { getPublishedArticles } from "../utils/content";
import { seoTitle } from "../utils/data";
import SubscribeBlurb from "../components/SubscribeBlurb.astro";
import OmniLink from "../components/links/OmniLink.astro";

const inProgressPlays = (await loadInProgessPlays()).toSorted(
  (a, b) =>
    new Date(b.dateStarted).valueOf() - new Date(a.dateStarted).valueOf(),
);

const inProgressReads = (await loadInProgressReads()).toSorted(
  (a, b) =>
    new Date(b.dateStarted).valueOf() - new Date(a.dateStarted).valueOf(),
);

const latestArticle = (await getPublishedArticles())[0];
---

<Layout
  pageTitle={`Home`}
  pageDescription="Learn all about David's review site, where he shares his thoughts on the games he plays, the movies he watches, and the books he reads."
  seoTitle={seoTitle("Games, Movies, and Books")}
  seoDescription=`The home of everything that David reviews.`
>
  <p class="pb-3 pt-4">
    Welcome to <strong>david.reviews</strong>, my small, independent media
    review site. I'm <OmniLink href="https://xavd.id">
      {"David"}
    </OmniLink> and I've reviewing things and writing them down since 2016.
  </p>

  <SubscribeBlurb showSteamButton />

  <h2 class="pb-2 pt-8 text-center text-3xl font-bold">Latest Article</h2>
  <div class="align-center flex w-full rounded border-2 border-purple-600 p-2">
    <SubtleLink href={latestArticle.permalink} classes={["text-xl"]}>
      {latestArticle.data.title}
    </SubtleLink>
  </div>

  <!-- can include this, but /articles page does the same -->

  <h2 class="pb-2 pt-6 text-center text-3xl font-bold">Now Playing</h2>
  <div class="flex flex-wrap justify-around gap-y-2">
    {
      inProgressPlays.length === 0 && (
        <p>
          I'm not playing anything at the moment but I'll be starting something
          from my
          <OmniLink href="https://airtable.com/appLZQMgewaSP7Gg3/shrajGTisjQqBwxLf/tbl0H4RdvzHEZWgdC">
            {"Play Next"}
          </OmniLink>{" "}
          list (or the{" "}
          <OmniLink href="https://airtable.com/appLZQMgewaSP7Gg3/shrMB1f0PQcfg1tnM/tbl0H4RdvzHEZWgdC">
            {"Play Soon"}
          </OmniLink>
          list) shortly.
        </p>
      )
    }
    {
      inProgressPlays.map(
        ({ playType, dateStarted, game: { title, posterUrl } }) => (
          <div class="align-center flex w-full rounded border-2 border-blue-600 p-2">
            <Image
              class="max-w-[unset] py-1"
              src={posterUrl}
              alt={`poster for ${title}`}
              height={160}
              width={120}
            />
            <div class="flex flex-col pl-4">
              <span class="pb-2 text-xl font-bold">{title}</span>
              <span>since: {dateStarted}</span>
              <span>{playType}</span>
            </div>
          </div>
        ),
      )
    }
  </div>
  <h2 class="pb-2 pt-6 text-center text-3xl font-bold">Now Reading</h2>
  <div class="flex flex-wrap justify-around gap-y-2">
    {
      inProgressReads.length === 0 && (
        <p>
          I'm not reading anything at the moment but I'll be starting something
          from my
          <OmniLink href="https://airtable.com/appv2mhWOgkRhR4rK/shrzRTbsZiBhVeugG">
            {"To Read"}
          </OmniLink>{" "}
          list shortly.
        </p>
      )
    }
    {
      inProgressReads.map(
        ({ dateStarted, book: { title, posterUrl, authors }, medium }) => (
          <div class="align-center flex w-full rounded border-2 border-emerald-600 p-2">
            <Image
              class="max-w-[unset] py-1"
              src={posterUrl}
              alt={`poster for ${title}`}
              height={160}
              width={120}
            />
            <div class="flex flex-col pl-4">
              <span class="pb-2 text-xl font-bold">{title}</span>
              <span>by: {authors.map((a) => a.name).join(", ")}</span>
              <span>since: {dateStarted}</span>
              {medium === "Audio" && <span>{medium}</span>}
            </div>
          </div>
        ),
      )
    }
  </div>
</Layout>

<style></style>
