---
import { movieBase } from "../airtable/data";
import { BASES } from "../airtable/constants";
import { type MovieReview } from "../airtable/types";
import Layout from "../layouts/Layout.astro";
import Moviebox from "../components/infoboxes/moviebox.astro";

const movies = await movieBase
  .table("Watches")
  .select({
    maxRecords: 100,
    view: BASES.movies.tables.watches.views.watchedMovies,
    fields: [...Object.values(BASES.movies.tables.watches.fields)],
    returnFieldsByFieldId: true,
  })
  .all();

const rawReviews = movies.map((m) => m.fields) as MovieReview[];
const fields = BASES.movies.tables.watches.fields;
// height={review[fields.poster][0].height / 2}
// width={review[fields.poster][0].width / 2}
// src={`https://image.tmdb.org/t/p/w500${review[fields.posterPath]}`}
// src={review[fields.poster]?.[0]?.url}
---

<Layout title="Movies!" active="movies">
  <h1 class="pb-3 pt-2 text-2xl">Recently Watched Movies</h1>
  <p class="pb-3">
    There are {rawReviews.length} total reviews of N movies. Click on a movie to
    see all of its reviews!
  </p>

  {
    rawReviews.map((review) => (
      <Moviebox
        title={review[fields.title]}
        rating={review[fields.rating]}
        watchedOn={review[fields.dateWatched]}
        posterUrl={`https://image.tmdb.org/t/p/w500${
          review[fields.posterPath]
        }`}
        notes={review[fields.notes]}
      />
    ))
  }
</Layout>
