---
import type { Author } from "../../../airtable/data/authors";
import { loadReads, type Read } from "../../../airtable/data/reads";
import BookLegend from "../../../components/BookLegend.astro";
import ReadBox from "../../../components/infoboxes/ReadBox.astro";
import Layout from "../../../layouts/Layout.astro";
import { averageRating, pluralize, seoTitle } from "../../../utils";

type Params = {
  authorSlug: string;
};

type Props = Author & {
  reads: Read[];
};

// own row for weird export reasons
type Result = Promise<Array<{ params: Params; props: Props }>>;
export const getStaticPaths = async (): Result => {
  const reads = await loadReads();

  const authors = reads.reduce<Record<string, Props>>((result, read) => {
    read.book.authors.forEach((author) => {
      const authorId = author.recordId;
      const authorRecord = result[authorId] as Props | undefined;

      if (authorRecord) {
        authorRecord.reads.push(read);
      } else {
        result[authorId] = {
          ...author,
          reads: [read],
        };
      }
    });
    return result;
  }, {});

  return Object.entries(authors).map(([_, props]) => ({
    params: { authorSlug: props.slug },
    props,
  }));
};

const { reads, name, recordId: authorId } = Astro.props;
const numUniqueBooks = new Set(reads.map((r) => r.book.gbid)).size;
---

<Layout
  pageTitle={`${name} - Books`}
  seoTitle={seoTitle(`Books by ${name}`)}
  seoDescription={`David shares thoughts about the ${numUniqueBooks} book${pluralize(
    numUniqueBooks
  )} he's read by ${name}.`}
  activeTab="books"
>
  <h1 class="pb-3 pt-2 text-2xl">
    Reviews for <span class="underline">{name}</span>
  </h1>
  <p class="pb-3">
    There {reads.length > 1 ? "are" : "is"}{" "}
    {reads.length} review{pluralize(reads)} of {numUniqueBooks}
     book{pluralize(numUniqueBooks)}. They have an average score of {
      averageRating(reads)
    }/4.
  </p>
  <BookLegend />
  <div>
    {reads.map((read) => <ReadBox read={read} omitAuthorIds={[authorId]} />)}
  </div>
</Layout>
