---
import BookIcon from "./icons/book.astro";
import GameIcon from "./icons/game.astro";
import MovieIcon from "./icons/movie.astro";
import SearchIcon from "./icons/search.astro";
import ArticleIcon from "./icons/article.astro";
import AboutIcon from "./icons/about.astro";
import ContactIcon from "./icons/contact.astro";
import NavbarItem from "./NavbarItem.astro";

type Props = {
  active?:
    | "games"
    | "movies"
    | "books"
    | "articles"
    | "search"
    | "about"
    | "contact";
};

const { active } = Astro.props;

const mainButtons: Array<{
  activeValue: NonNullable<Props["active"]>;
  classes: string[];
  activeClass: string;
  icon: typeof GameIcon;
}> = [
  {
    activeValue: "games",
    classes: ["fill-blue-600", "hover:shadow-insetGame"],
    activeClass: "bg-blue-600",
    icon: GameIcon,
  },
  {
    activeValue: "movies",
    classes: ["fill-red-600", "hover:shadow-insetMovie"],
    activeClass: "bg-red-600",
    icon: MovieIcon,
  },
  {
    activeValue: "books",
    classes: ["fill-emerald-600", "hover:shadow-insetBook"],
    activeClass: "bg-emerald-600",
    icon: BookIcon,
  },
  {
    activeValue: "articles",
    classes: ["fill-purple-600", "hover:shadow-insetArticles"],
    activeClass: "bg-purple-600",
    icon: ArticleIcon,
  },
];

const infoButtons: Array<{
  activeValue: NonNullable<Props["active"]>;
  icon: typeof GameIcon;
}> = [
  {
    activeValue: "about",
    icon: AboutIcon,
  },
  {
    activeValue: "contact",
    icon: ContactIcon,
  },
  {
    activeValue: "search",
    icon: SearchIcon,
  },
];
---

<nav
  class:list={[
    "flex flex-wrap",
    "pt-2 md:pt-[inherit]",
    "items-center justify-between lg:justify-around",
    "gap-y-1",
    "border-b-2",
    {
      "border-blue-600": active === "games",
      "border-red-600": active === "movies",
      "border-emerald-600": active === "books",
      "border-purple-600": active === "articles",
      "border-black dark:border-white":
        !active || ["search", "about", "contact"].includes(active),
    },
  ]}
>
  <h2 class="rounded text-xl md:mx-2 md:text-2xl">
    <a
      class:list={[
        "whitespace-nowrap",
        "rounded",
        "p-[0.15rem]",
        "ml-4 lg:ml-2",
        "ring-black",
        "dark:ring-white",
        {
          // ringed when nothing else is active
          "ring-1 ": !active,
          // ring on hover only if we're elsewhere
          "hover:ring-1": active,
        },
      ]}
      href="/">david<span class="px-1">.</span>reviews</a
    >
  </h2>
  <!-- main tabs -->
  {
    mainButtons.map(({ activeValue, activeClass, classes, icon }) => {
      const isActive = active === activeValue;
      return (
        <NavbarItem
          name={activeValue}
          stacked={true}
          classes={[
            "order-1 lg:order-none",
            classes,
            {
              "fill-white text-white": isActive,
              [activeClass]: isActive,
            },
          ]}
          icon={icon}
        />
      );
    })
  }
  <!-- info section -->
  {
    infoButtons.map(({ activeValue, icon }) => {
      const isActive = active === activeValue;
      // gets special treatment on mobile
      const isSearch = activeValue === "search";
      return (
        <NavbarItem
          name={activeValue}
          stacked={isSearch}
          classes={[
            "dark:fill-white",
            "hover:shadow-insetInfo",
            "dark:hover:shadow-insetInfoDark",
            // sort to the very end on mobile
            { "order-2 lg:order-none": isSearch },
            {
              "dark:bg-white dark:!fill-black dark:text-black": isActive,
              "bg-black fill-white text-white": isActive,
            },
          ]}
          icon={icon}
        />
      );
    })
  }
  <!-- invisible flex line break -->
  <div class="basis-full lg:hidden"></div>
</nav>
