---
import { loadReads } from "../../airtable/data/reads";
import BookLegend from "../../components/BookLegend.astro";
import SubscribeBlurb from "../../components/SubscribeBlurb.astro";
import ReadBox from "../../components/infoboxes/ReadBox.astro";
import RoundedLink from "../../components/links/RoundedLink.astro";
import Layout from "../../layouts/Layout.astro";
import { seoTitle } from "../../utils";

// this controls the /books and /books/all routes
type Result = Array<{ params: { slug: string | undefined } }>;
export const getStaticPaths = (): Result => [
  {
    params: {
      slug: undefined,
    },
  },
  {
    params: {
      slug: "all",
    },
  },
];

const showAll = !!Astro.params.slug;

const rawReviews = await loadReads();

const numUniqueBooks = new Set(rawReviews.map((r) => r.book.gbid)).size;

const title = showAll ? "Every Reviewed Book" : "Recently Reviewed Books";
const limit = showAll ? undefined : 100;
const tabTitle = showAll ? "All Books" : "Recent Books";
---

<Layout
  pageTitle={tabTitle}
  seoTitle={seoTitle(`Books!`)}
  seoDescription={`David shares thoughts about the ${rawReviews.length} books he's read.`}
  activeTab="books"
>
  <h1 class="pb-3 pt-2 text-2xl">{title}</h1>
  <p>
    There are {rawReviews.length} reviews of {numUniqueBooks} books.{
      !showAll && <> This is the most recent {limit}.</>
    } See also:
  </p>
  <ul class="list-disc pl-8 pt-2">
    <li class="pb-3">
      <RoundedLink href="/books/series/">all series</RoundedLink>
    </li>
    <li class="pb-3">
      <RoundedLink href="/books/authors/">all authors</RoundedLink>
    </li>
    {
      !showAll && (
        <li class="pb-3">
          <RoundedLink href="/books/all/">all reviews</RoundedLink>
        </li>
      )
    }
  </ul>

  <SubscribeBlurb mediaType="book" />
  <BookLegend />
  <div>
    {rawReviews.map((read) => <ReadBox read={read} />)}
  </div>
</Layout>
