---
import { Image } from "astro:assets";

import type { Book } from "../../airtable/data/books";
import { loadReads, type Read } from "../../airtable/data/reads";
import AuthorList from "../../components/AuthorList.astro";
import AwardBlurb from "../../components/AwardBlurb.astro";
import ExternalLink from "../../components/links/ExternalLink.astro";
import RoundedLink from "../../components/links/RoundedLink.astro";
import Rating from "../../components/Rating.astro";
import Layout from "../../layouts/Layout.astro";
import { pluralize, seoTitle } from "../../utils";

type Params = {
  bookSlug: string;
};

type Props = Book & {
  reads: Read[];
};

// own row for weird export reasons
type Result = Promise<Array<{ params: Params; props: Props }>>;
export const getStaticPaths = async (): Result => {
  const reads = await loadReads();

  const books = reads.reduce<Record<string, Props>>((result, read) => {
    const gbid = read.book.gbid;
    const bookRecord = result[gbid] as Props | undefined;

    if (bookRecord) {
      bookRecord.reads.push(read);
    } else {
      const item: Props = {
        ...read.book,
        reads: [read],
      };
      result[gbid] = item;
    }

    return result;
  }, {});

  return Object.values(books).map((props) => ({
    params: { bookSlug: props.slug },
    props,
  }));
};

const { title, reads, series, award, authors, gbid, numberInSeries } =
  Astro.props;

const authorsStr = authors.map((a) => a.name).join(", ");
---

<Layout
  pageTitle={`${title} - Books`}
  seoTitle={`${seoTitle(title)}, by ${authorsStr}`}
  seoDescription={`David shares thoughts about the ${reads.length} time${
    reads.length > 1 ? "s" : ""
  } he's read ${title}, by ${authorsStr}.`}
  activeTab="books"
  ogImg={{
    url: `https://books.google.com/books/content/images/frontcover/${gbid}?fife=h700`,
    height: 700,
    width: 461,
    type: "jpeg",
  }}
>
  <div class="flex py-3">
    <Image
      src={`https://books.google.com/books/content/images/frontcover/${gbid}?fife=h225`}
      alt={`poster for ${title}`}
      height={450 / 2}
      width={300 / 2}
      class="max-h-[225px] max-w-[150px]"
    />
    <div class="pl-3">
      <h1 class="pt-2 text-2xl">{title}</h1>
      <p class="py-2">
        by <AuthorList authors={authors} style="rounded" />
      </p>
      <p class="pb-2">
        I've read this book {reads.length} time{pluralize(reads)} and given it
        an average score of {
          reads.reduce((total, { rating }) => rating + total, 0) / reads.length
        }
         (<ExternalLink
          href="https://xavd.id/blog/post/on-the-rating-of-media/"
        >
          {"out of 4"}
        </ExternalLink>).
      </p>
      {
        series && (
          <div class="py-2">
            <p>
              This is book #{numberInSeries} in the
              <RoundedLink href={series.permalink}>
                {series.name}
              </RoundedLink>{" "}
              series.
            </p>
          </div>
        )
      }
      {award && <AwardBlurb {...award} category="book" />}
    </div>
  </div>

  {
    reads.map(({ rating, medium, notes, dateFinished }) => (
      <div
        id={dateFinished}
        class="mb-4 rounded border-2 border-emerald-600 even:bg-emerald-50 dark:even:bg-zinc-700"
      >
        <div class="flex justify-between border-b-2 border-emerald-600 px-2">
          <span>{dateFinished}</span>
          {medium === "Audio" && <span>🔈 Audiobook</span>}
          <div>
            <Rating rating={rating} />
          </div>
        </div>
        <p class="p-2">{notes || <em>no review</em>}</p>
      </div>
    ))
  }
</Layout>
