---
import { fields, loadReads } from "../../airtable/reads";
import BookLegend from "../../components/BookLegend.astro";
import BookBox from "../../components/infoboxes/bookbox.astro";
import Layout from "../../layouts/Layout.astro";

const rawReviews = await loadReads();

const numUniqueBooks = new Set(rawReviews.map((r) => r[fields.googleBooksId]))
  .size;
---

<Layout title="Books!" active="books">
  <h1 class="pb-3 pt-2 text-2xl">Every Reviewed Book</h1>
  <p class="pb-3">
    There are {rawReviews.length} total reviews of {numUniqueBooks} books.
  </p>
  <BookLegend />
  <div>
    {
      rawReviews.map((review) => (
        <BookBox
          title={review[fields.title][0]}
          rating={review[fields.rating]}
          dateFinished={review[fields.dateFinished]}
          notes={review[fields.notes]}
          isReread={review[fields.isReread]}
          googleBooksId={review[fields.googleBooksId]![0]}
          awardTier={review[fields.awardTier]?.[0]}
          bookMedium={review[fields.medium]}
          series={
            review[fields.seriesName]?.[0]
              ? {
                  name: review[fields.seriesName]![0],
                  number: review[fields.numberInSeries]![0],
                }
              : undefined
          }
          authors={review[fields.authorFullNames]}
        />
      ))
    }
  </div>
</Layout>
