---
import { Image } from "astro:assets";
import { BASES } from "../../airtable/constants";
import { movieBase } from "../../airtable/data";
import type { MovieReview, Awards } from "../../airtable/types";
import Reviewbox from "../../components/infoboxes/reviewbox.astro";
import Layout from "../../layouts/Layout.astro";

type Params = {
  tmdbId: string;
};

type Props = {
  title: string;
  posterPath: string;
  collections?: string[];
  award?: Awards;
  awardYear?: number;
  watches: Array<{
    notes: string;
    watchedOn: string;
    rating: number;
  }>;
};

// own row for weird export reasons
type Result = Promise<Array<{ params: Params; props: Props }>>;
export const getStaticPaths = async (): Result => {
  const fields = BASES.movies.tables.watches.fields;
  const watches = await movieBase
    .table("Watches")
    .select({
      maxRecords: 100,
      view: BASES.movies.tables.watches.views.watchedMovies,
      fields: [...Object.values(fields)],
      returnFieldsByFieldId: true,
    })
    .all();

  const rawReviews = watches.map((m) => ({
    recordId: m.id,
    ...m.fields,
  })) as MovieReview[];

  const movies = rawReviews.reduce<{ [tmdbId: string]: Props }>(
    (result, review) => {
      const tmdbId = review[fields.tmdbID][0];
      const movie = result[tmdbId];
      const miniReview: Props["watches"][number] = {
        notes: review[fields.notes],
        watchedOn: review[fields.dateWatched],
        rating: review[fields.rating],
      };

      if (movie) {
        movie.watches.push(miniReview);
      } else {
        result[tmdbId] = {
          title: review[fields.title],
          posterPath: review[fields.posterPath],
          award: review[fields.award],
          awardYear: review[fields.awardYear]?.[0],
          collections: review[fields.collections],
          watches: [miniReview],
        };
      }

      return result;
    },
    {},
  );

  // const movies: Record<string, number> = {};

  return Object.entries(movies).map(([tmdbId, props]) => ({
    params: { tmdbId },
    props,
  }));
};

const { title, watches, posterPath, award, awardYear, collections } =
  Astro.props;
if (Boolean(award) != Boolean(awardYear)) {
  throw new Error(
    `Single movie page for "${title}" has only one of award & awardYear`,
  );
}
---

<Layout title="Movies!" active="movies">
  <div class="flex py-3">
    <Image
      src={`https://image.tmdb.org/t/p/w300${posterPath}`}
      alt={`poster for ${title}`}
      height={450 / 2}
      width={300 / 2}
      class="max-h-[225px] max-w-[150px]"
    />
    <div class="pl-3">
      <h1 class="pt-2 text-2xl">{title}</h1>
      <p class="">
        I've watched this {watches.length} time{watches.length > 1 && "s"} and
        given it an average score of {
          watches.reduce((total, { rating }) => rating + total, 0) /
            watches.length
        } (<a
          class="text-blue-500 underline hover:text-blue-600"
          target="_blank"
          rel="noopener"
          href="https://xavd.id/blog/post/on-the-rating-of-media/">out of 4</a
        >).
      </p>
      {
        award && (
          <p class="ml-[-8px] mt-2 rounded bg-red-50 p-2">
            This movie won the {award} medal in my
            {/* https://github.com/withastro/prettier-plugin-astro/issues/308 */}
            {/* prettier-ignore */}
            <a class="text-blue-500 underline hover:text-blue-600" target="_blank" rel="noopener" href="TKTK">{awardYear} Favorite Media of the Year</a>
            lookback.
          </p>
        )
      }
      {
        collections && (
          <div class="ml-[-8px] mt-2 rounded bg-red-50 p-2">
            <p>This movie is part of the following collection(s):</p>
            <ul class="pt-2">
              {collections.map((collection) => (
                <li class="pb-2 pl-2">
                  <a
                    class="rounded bg-blue-200 p-1 hover:bg-blue-300"
                    href="TKTK"
                  >
                    {collection}
                  </a>
                </li>
              ))}
            </ul>
          </div>
        )
      }
    </div>
  </div>

  {
    watches.map((watch, index) => (
      <Reviewbox {...watch} watchNumber={watches.length - index} />
    ))
  }
</Layout>
