---
import { loadWatches, fields } from "../../airtable/movies";
import Moviebox from "../../components/infoboxes/moviebox.astro";
import Layout from "../../layouts/Layout.astro";

const rawReviews = await loadWatches();
const watchCounts: { [tmdbId: string]: number } = {};

const reviews = rawReviews.map((review) => {
  const thisWatchNum = watchCounts[review[fields.tmdbID][0]] ?? 0;
  watchCounts[review[fields.tmdbID][0]] = thisWatchNum + 1;
  return {
    ...review,
    numWatch: review[fields.totalMovieWatches] - thisWatchNum,
  };
});
---

<Layout title="Movies!" active="movies">
  <h1 class="pb-3 pt-2 text-2xl">Every Reviewed Movie</h1>
  <p class="pb-3">
    There are {reviews.length} total reviews of {
      Object.keys(watchCounts).length
    } movies.
  </p>
  <ul class="mb-3 rounded bg-red-50 p-2">
    <li>
      <code>*</code> - this is my first <em>logged</em> watch, but I had seen
      the movie before.
    </li>
    <li>
      🥇 / 🥈 / 🥉 - <a
        href="https://xavd.id/blog/tags/yearly-review"
        class="rounded bg-blue-200 p-1 hover:bg-blue-300"
        >Favorite of the Year</a
      > honoree
    </li>
  </ul>
  <div>
    {
      reviews.map((review) => (
        <Moviebox
          title={review[fields.title]}
          yearReleased={review[fields.yearReleased][0]}
          rating={review[fields.rating]}
          watchedOn={review[fields.dateWatched]}
          posterUrl={`https://image.tmdb.org/t/p/w300${
            review[fields.posterPath]
          }`}
          notes={review[fields.notes]}
          numWatch={review.numWatch}
          isFirstWatch={review[fields.isFirstWatch] === 1}
          awardTier={review[fields.awardTier]?.[0]}
          collections={review[fields.collections]}
        />
      ))
    }
  </div>
</Layout>
