---
import { loadWatches, fields } from "../../airtable/movies";
import Moviebox from "../../components/infoboxes/moviebox.astro";
import Layout from "../../layouts/Layout.astro";

const rawReviews = await loadWatches();
const watchCounts: { [tmdbId: string]: number } = {};

const reviews = rawReviews.map((review) => {
  const thisWatchNum = watchCounts[review[fields.tmdbID][0]] ?? 0;
  watchCounts[review[fields.tmdbID][0]] = thisWatchNum + 1;
  return {
    ...review,
    numWatch: review[fields.totalMovieWatches] - thisWatchNum,
  };
});
---

<Layout title="Movies!" active="movies">
  <h1 class="pb-3 pt-2 text-2xl">Recently Watched Movies</h1>
  <p class="pb-3">
    There are {reviews.length} total reviews of {
      Object.keys(watchCounts).length
    } movies. Click on a movie title to see all of its reviews!
  </p>
  <p class="pb-3">
    <code>*</code> denotes that this is my first <em>logged</em> watch, but I
    had seen the movie before.
  </p>
  <div>
    {
      reviews.map((review) => (
        <Moviebox
          title={review[fields.title]}
          rating={review[fields.rating]}
          watchedOn={review[fields.dateWatched]}
          posterUrl={`https://image.tmdb.org/t/p/w300${
            review[fields.posterPath]
          }`}
          notes={review[fields.notes]}
          numWatch={review.numWatch}
          isFirstWatch={review[fields.isFirstWatch] === 1}
          tmdbId={review[fields.tmdbID][0]}
          awardTier={review[fields.awardTier]?.[0]}
          collections={review[fields.collections]}
        />
      ))
    }
  </div>
</Layout>
