---
import { BASES } from "../../airtable/constants";
import { movieBase } from "../../airtable/data";
import { type MovieReview } from "../../airtable/types";
import Moviebox from "../../components/infoboxes/moviebox.astro";
import Layout from "../../layouts/Layout.astro";

const fields = BASES.movies.tables.watches.fields;
const movies = await movieBase
  .table("Watches")
  .select({
    maxRecords: 100,
    view: BASES.movies.tables.watches.views.watchedMovies,
    fields: [...Object.values(fields)],
    returnFieldsByFieldId: true,
  })
  .all();

const rawReviews = movies.map((m) => ({
  recordId: m.id,
  ...m.fields,
})) as MovieReview[];
const watchCounts: { [tmdbId: string]: number } = {};

const reviews = rawReviews.map((review) => {
  const thisWatchNum = watchCounts[review[fields.tmdbID][0]] ?? 0;
  watchCounts[review[fields.tmdbID][0]] = thisWatchNum + 1;
  return {
    ...review,
    numWatch: review[fields.totalMovieWatches] - thisWatchNum,
  };
});

// height={review[fields.poster][0].height / 2}
// width={review[fields.poster][0].width / 2}
// src={`https://image.tmdb.org/t/p/w500${review[fields.posterPath]}`}
// src={review[fields.poster]?.[0]?.url}
---

<Layout title="Movies!" active="movies">
  <h1 class="pb-3 pt-2 text-2xl">Recently Watched Movies</h1>
  <p class="pb-3">
    There are {reviews.length} total reviews of {
      Object.keys(watchCounts).length
    } movies. Click on a movie to see all of its reviews!
  </p>

  {
    reviews.map((review) => (
      <Moviebox
        title={review[fields.title]}
        rating={review[fields.rating]}
        watchedOn={review[fields.dateWatched]}
        posterUrl={`https://image.tmdb.org/t/p/w300${
          review[fields.posterPath]
        }`}
        notes={review[fields.notes]}
        numWatch={review.numWatch}
        isFirstWatch={review[fields.isFirstWatch] === 1}
        tmdbId={review[fields.tmdbID][0]}
        award={review[fields.award]}
        collections={review[fields.collections]}
      />
    ))
  }

  <p>
    * this is my first <em>logged</em> watch, but I had seen the movie before.
  </p>
</Layout>
