---
import Rating from "../Rating.astro";
import BookIcon from "../icons/book.astro";
import GameIcon from "../icons/game.astro";
import MovieIcon from "../icons/movie.astro";

type Props = {
  type: "book" | "movie" | "game";
  notes: string;
  rating: number;
  shrinkFooterText?: boolean;
};

const configs: {
  [type in Props["type"]]: {
    fillColor: `fill-${string}-${number}`;
    borderColor: `border-${string}-${number}`;
    lightEvenColor: `even:bg-${string}-${number}`;
    icon: typeof MovieIcon;
  };
} = {
  movie: {
    fillColor: "fill-red-600",
    borderColor: "border-red-600",
    lightEvenColor: "even:bg-red-50",
    icon: MovieIcon,
  },
  book: {
    fillColor: "fill-emerald-600",
    borderColor: "border-emerald-600",
    lightEvenColor: "even:bg-emerald-50",
    icon: BookIcon,
  },
  game: {
    fillColor: "fill-blue-600",
    borderColor: "border-blue-600",
    lightEvenColor: "even:bg-blue-50",
    icon: GameIcon,
  },
} as const;

const { type, notes, rating, shrinkFooterText } = Astro.props;
const {
  // icon: IconComponent,
  // fillColor,
  borderColor,
  lightEvenColor,
} = configs[type];
---

<div
  class:list={[
    "mb-6 flex rounded border-2",
    borderColor,
    lightEvenColor,
    "even:dark:bg-zinc-700",
  ]}
>
  {/* image area */}
  <div class="p-2"><slot name="image" /></div>

  {/* info area */}
  <div class="flex w-full flex-col justify-between">
    <div>
      {/* title bar area */}
      <div
        class:list={[
          "flex justify-between border-b-2 border-l-2 pl-2",
          borderColor,
        ]}
      >
        {/* title */}
        <span>
          <slot name="title" />
        </span>
        {/* icons */}
        <div class="whitespace-nowrap pl-1">
          <slot name="icons" />
          <!-- <IconComponent classes={["pb-[0.10em] inline h-6 px-1", fillColor]} /> -->
        </div>
      </div>
      {/* in a div so they're flexed together */}
      <slot name="subtitle" />
    </div>

    {/* body area */}
    <p class="px-4 py-2">
      {notes || <em>no review</em>}
    </p>
    {/* footer area */}
    <div
      class:list={[
        "flex flex-wrap justify-between border-l-2 border-t-2 px-2",
        borderColor,
        shrinkFooterText && "text-sm md:text-base",
      ]}
    >
      <slot name="footer" />
      <Rating rating={rating} />
    </div>
  </div>
</div>
