---
import { Image } from "astro:assets";

import type { BookMedium } from "../../airtable/data/reads";
import { medals } from "../../airtable/data/common";
import type { AwardTier } from "../../airtable/types";
import { bookPermalink, seriesPermalnk } from "../../utils";
import AuthorList from "../AuthorList.astro";
import SubtleLink from "../links/SubtleLink.astro";
import TitleLink from "../links/TitleLink.astro";
import BaseBox from "./BaseBox.astro";

type SeriesInfo = {
  name: string;
  number: number;
};

type Props = {
  title: string;
  rating: number;
  dateFinished: string;
  notes: string;
  isReread: boolean;
  googleBooksId: string;
  bookMedium: BookMedium;
  awardTier?: AwardTier;
  series?: SeriesInfo;
  authors?: string;
  coAuthors?: string;
};
const {
  title,
  rating,
  dateFinished,
  isReread,
  notes,
  googleBooksId,
  awardTier,
  bookMedium,
  series,
  authors,
  coAuthors,
} = Astro.props;

const permalink = bookPermalink(title);
---

<BaseBox type="book" notes={notes} rating={rating}>
  <a slot="image" href={permalink}>
    <Image
      src={`https://books.google.com/books/content/images/frontcover/${googleBooksId}?fife=h188`}
      alt={`cover for ${title}`}
      height={188}
      width={120}
    /></a
  >

  <div slot="title">
    <TitleLink href={permalink}>
      {title}
    </TitleLink>{" "}
    {
      authors && (
        <span>
          by <AuthorList authors={authors.split(",")} style="subtle" />
        </span>
      )
    }
    {
      coAuthors && (
        <span>
          with <AuthorList authors={coAuthors.split(",")} style="subtle" />
        </span>
      )
    }
  </div>

  <Fragment slot="icons">
    {bookMedium === "Audio" && <div class="inline px-1">🔈</div>}
    {isReread && <div class="inline px-1">🔁</div>}
    {awardTier && <div class="inline px-1">{medals[awardTier]}</div>}
  </Fragment>

  <Fragment slot="footer">
    <div>
      <span class="hidden md:inline">Finished on:{" "}</span>{dateFinished}
    </div>

    {
      series?.number && (
        <SubtleLink href={seriesPermalnk(series.name)}>
          Book #{series.number}
        </SubtleLink>
      )
    }
  </Fragment>
</BaseBox>
 ../../airtable/data/reads ../../airtable/data/common
