---
import { Image } from "astro:assets";
import StarEmpty from "../icons/star-empty.astro";
import StarFilled from "../icons/star-filled.astro";
import MovieIcon from "../icons/movie.astro";

type Props = {
  title: string;
  rating: number;
  watchedOn: string;
  posterUrl: string;
  notes: string;
  numWatch: number;
  isFirstWatch: boolean;
};
const { title, rating, watchedOn, posterUrl, notes, numWatch, isFirstWatch } =
  Astro.props;
const posterShrinkDimension = 4;
---

<div class="mb-6 flex rounded border-2 border-red-500">
  <div class="p-2">
    <Image
      src={posterUrl}
      alt={`poster for ${title}`}
      height={750 / posterShrinkDimension}
      width={500 / posterShrinkDimension}
    />
  </div>

  <div class="flex w-full flex-col justify-between">
    <div class="flex justify-between border-b-2 border-l-2 border-red-500 pl-2">
      <a href="/TKTK">
        <h3 class="text-l font-bold underline hover:bg-slate-300">
          {title}
        </h3></a
      >
      <div>
        <div class="inline pr-2">🥇 🎃</div>
        <MovieIcon classes="pb-[0.10em] inline h-6 fill-red-500 pr-1" />
      </div>
    </div>
    <p class="px-4 py-2">
      {notes ?? <em>no review</em>}
    </p>
    <div class="flex justify-between border-l-2 border-t-2 border-red-500 px-2">
      <div class="">
        <span class="hidden md:inline">Watched on:{" "}</span>{watchedOn}
      </div>
      <span>Watch #{numWatch}{numWatch === 1 && !isFirstWatch && "*"}</span>
      <div class="">
        {
          Array.from({ length: rating }).map(() => (
            <StarFilled classes="mb-[0.25em] inline h-4" />
          ))
        }
        {
          Array.from({ length: 4 - rating }).map(() => (
            <StarEmpty classes="mb-[0.25em] inline h-4" />
          ))
        }
      </div>
    </div>
  </div>
</div>
