---
import { Image } from "astro:assets";

import { medals } from "../../airtable/data/common";
import type { AwardTier } from "../../airtable/types";
import { moviePermalink } from "../../utils";
import TitleLink from "../links/TitleLink.astro";
import BaseBox from "./BaseBox.astro";

type Props = {
  title: string;
  yearReleased: number;
  rating: number;
  watchedOn: string;
  posterUrl: string;
  notes: string;
  numWatch: number;
  isFirstWatch: boolean;
  awardTier?: AwardTier;
  collections?: string[];
};
const {
  title,
  yearReleased,
  rating,
  watchedOn,
  posterUrl,
  notes,
  numWatch,
  isFirstWatch,
  awardTier,
  collections,
} = Astro.props;

const permalink = moviePermalink(title, yearReleased);
---

<BaseBox type="movie" notes={notes} rating={rating}>
  <a slot="image" href={permalink}>
    <Image
      src={posterUrl}
      alt={`poster for ${title}`}
      height={187.5}
      width={125}
    /></a
  >

  <span slot="title">
    <TitleLink href={permalink}>{title}</TitleLink>
     ({yearReleased})
  </span>

  <Fragment slot="icons">
    {awardTier && <div class="inline px-1">{medals[awardTier]}</div>}
    <!-- Add collection link: TKTK -->
    {
      collections &&
        collections.map((collection) => (
          <div class="inline px-1">{collection.split(" ")[0]}</div>
        ))
    }
  </Fragment>

  <Fragment slot="footer">
    <span>
      <span class="hidden md:inline">Watched on:{" "}</span>{watchedOn}
    </span>
    <span>Watch #{numWatch}{numWatch === 1 && !isFirstWatch && "*"}</span>
  </Fragment>
</BaseBox>
