---
import type { Play } from "../../airtable/data/plays";
import { minutesToDuration } from "../../utils/data";
import OmniLink from "../links/OmniLink.astro";
import SubtleLink from "../links/SubtleLink.astro";
import BaseBox from "./BaseBox.astro";

type Props = {
  play: Play;
};
const { play } = Astro.props;
const borderColor = "border-blue-600";
---

<BaseBox
  type="game"
  notes={play.notes}
  fullReviewSlug={play.fullReviewSlug}
  image={{
    posterUrl: play.game.posterUrl,
    height: 180,
    width: 135,
  }}
  title={play.game.title}
  dataRows={[
    [play.rating, minutesToDuration(play.minutesPlayed)],
    [play.dateFinished, play.playType],
  ]}
  permalink={play.game.permalink}
  icons={[
    {
      visible: play.didNotFinish,
      title: "Didn't Finish",
      icon: "🛑",
    },
    {
      visible: Boolean(play.game.collection),
      title: play.game.collection?.nameOnly ?? "",
      icon: play.game.collection?.emoji,
    },
    {
      visible: Boolean(play.game.award),
      title: "Award Winning",
      icon: play.game.award?.emoji,
    },
  ]}
  borderColor={borderColor}
  lightEvenColor="even:bg-blue-50"
  verb="plays"
>
  <div slot="desktop-info" class="float-right pb-1 pl-3">
    <span
      class:list={[
        "inline-block",
        "rounded-bl",
        "border-b-2",
        "border-l-2",
        "px-1",
        borderColor,
      ]}
      ><SubtleLink href={play.game.genre.permalink}>
        {play.game.genre.name}
      </SubtleLink></span
    >
  </div>

  <div slot="mobile-info" class="pt-2">
    <OmniLink href={play.game.genre.permalink}>
      {play.game.genre.name}
    </OmniLink>
  </div>
</BaseBox>
