---
import type { Play } from "../../airtable/data/plays";
import { minutesToDuration } from "../../utils/data";
import SubtleLink from "../links/SubtleLink.astro";
import TitleLink from "../links/TitleLink.astro";
import BaseBox from "./BaseBox.astro";

type Props = {
  play: Play;
};
const { play } = Astro.props;
---

<BaseBox
  type="game"
  notes={play.notes}
  rating={play.rating}
  image={{
    posterUrl: play.game.posterUrl,
    height: 180,
    width: 135,
    title: play.game.title,
    mediaPermalink: play.game.permalink,
  }}
  icons={[
    {
      visible: play.didNotFinish,
      title: "Didn't Finish",
      icon: "🛑",
    },
    {
      visible: Boolean(play.game.collection),
      title: play.game.collection?.nameOnly ?? "",
      icon: play.game.collection?.emoji,
    },
    {
      visible: Boolean(play.game.award),
      title: "Award Winning",
      icon: play.game.award?.emoji,
    },
  ]}
>
  <span slot="title">
    <TitleLink href={play.game.permalink}>{play.game.title}</TitleLink>
  </span>

  <div class="text-center md:text-end" slot="subtitle">
    <span
      class="block border-b-2 border-l-2 border-blue-600 px-2 md:inline-block"
      ><SubtleLink href={play.game.genre.permalink}>
        {play.game.genre.name}
      </SubtleLink></span
    >
  </div>

  <Fragment slot="footer">
    <span>{play.dateFinished}</span>
    <span>{play.playType}</span>
    <div class="basis-full md:hidden"></div>
    <span>{minutesToDuration(play.minutesPlayed)}</span>
  </Fragment>
</BaseBox>
