---
import { Image } from "astro:assets";

import { medals } from "../../airtable/data/common";
import type { Play } from "../../airtable/data/plays";
import { minutesToDuration } from "../../utils/data";
import SubtleLink from "../links/SubtleLink.astro";
import TitleLink from "../links/TitleLink.astro";
import BaseBox from "./BaseBox.astro";

type Props = {
  play: Play;
};
const { play } = Astro.props;
---

<BaseBox type="game" notes={play.notes} rating={play.rating}>
  <a slot="image" href={play.game.permalink}>
    <Image
      class="max-w-[unset]"
      src={play.game.posterUrl}
      alt={`poster for ${play.game.title}`}
      height={160}
      width={120}
    /></a
  >

  <span slot="title">
    <TitleLink href={play.game.permalink}>{play.game.title}</TitleLink>
  </span>

  <div class="text-center md:text-end" slot="subtitle">
    <span
      class="block border-b-2 border-l-2 border-blue-600 px-2 md:inline-block"
      ><SubtleLink href={play.game.genre.permalink}>
        {play.game.genre.name}
      </SubtleLink></span
    >
  </div>

  <Fragment slot="icons">
    {
      play.didNotFinish && (
        <div title="Didn't Finish" class="inline px-1">
          🛑
        </div>
      )
    }
    {
      play.game.collection && (
        <div title={play.game.collection.nameOnly} class="inline px-1">
          {play.game.collection.emoji}
        </div>
      )
    }
    {
      play.game.award && (
        <div title="Award Winning" class="inline px-1">
          {medals[play.game.award.tier]}
        </div>
      )
    }
  </Fragment>

  <Fragment slot="footer">
    <span>{play.dateFinished}</span>
    <span>{play.playType}</span>
    <div class="basis-full md:hidden"></div>
    <span>{minutesToDuration(play.minutesPlayed)}</span>
  </Fragment>
</BaseBox>
