---
import { Image } from "astro:assets";
import type { Permalink } from "../../airtable/types";
import TitleLink from "../links/TitleLink.astro";
import type { Category } from "../../utils/data";
import Rating from "../Rating.astro";

type Props = {
  permalink: Permalink;
  posterUrl: string;
  title: string;
  blurb: string;
  mediaType: `${Category}s`;
  rating: number;
};

const { permalink, posterUrl, title, blurb, mediaType, rating } = Astro.props;

const { height, width } = {
  games: { width: 135, height: 192 }, // original *= 3/4
  movies: { width: 120, height: 180 }, // original *= 2/5
  books: { width: 124, height: 188 }, // original (but based on arbitrary query string?)
}[mediaType];

const borderColors = {
  "border-blue-600": mediaType === "games",
  "border-emerald-600": mediaType === "books",
  "border-red-600": mediaType === "movies",
};
---

<div
  class:list={[
    "mb-4 flex rounded border-2 p-2 dark:even:bg-zinc-700",
    borderColors,
    {
      "even:bg-blue-50": mediaType === "games",
      "even:bg-emerald-50": mediaType === "books",
      "even:bg-red-50": mediaType === "movies",
    },
  ]}
>
  <a slot="image" href={permalink}>
    <Image
      class="max-w-[unset]"
      src={posterUrl}
      alt={`poster for ${title}`}
      height={height}
      width={width}
    />
  </a>
  <div class="pl-4">
    <TitleLink classes={["text-xl"]} href={permalink}>
      {title}
    </TitleLink>

    <div class="pt-1">
      <Rating rating={rating} />
    </div>
    <p class:list={["mt-2 border-l-2 pl-2 italic", borderColors]}>{blurb}</p>
  </div>
</div>
