---
import { Image } from "astro:assets";
import type { Permalink } from "../../airtable/types";
import TitleLink from "../links/TitleLink.astro";
import type { Category } from "../../utils/data";
import Rating from "../Rating.astro";
import type { AwardDetails } from "../../awards";

type Props = {
  permalink: Permalink;
  posterUrl: string;
  title: string;
  blurb: string;
  mediaType: `${Category}s`;
  rating: number;
  award?: AwardDetails;
};

const { permalink, posterUrl, title, blurb, mediaType, rating, award } =
  Astro.props;

const { height, width } = {
  games: { width: 135, height: 192 }, // original *= 3/4
  movies: { width: 120, height: 180 }, // original *= 2/5
  books: { width: 124, height: 188 }, // original (but based on arbitrary query string?)
}[mediaType];

const borderColors = {
  "border-blue-600": mediaType === "games",
  "border-emerald-600": mediaType === "books",
  "border-red-600": mediaType === "movies",
};
---

<div
  class:list={[
    "mb-4 rounded border-2 p-2 dark:even:bg-zinc-700",
    borderColors,
    {
      "even:bg-blue-50": mediaType === "games",
      "even:bg-emerald-50": mediaType === "books",
      "even:bg-red-50": mediaType === "movies",
    },
  ]}
>
  {/* desktop layout */}
  <div class="hidden md:flex">
    <a href={permalink}>
      <Image
        class="max-w-[unset]"
        src={posterUrl}
        alt={`poster for ${title}`}
        height={height}
        width={width}
      />
    </a>
    <div class="pl-4">
      <TitleLink classes={["text-xl"]} href={permalink}>
        {title}
      </TitleLink>{award && ` (${award.emoji})`}

      <div class="pt-1">
        <Rating rating={rating} />
      </div>
      <p class:list={["mt-2 border-l-2 pl-2 italic", borderColors]}>{blurb}</p>
    </div>
  </div>

  {/* mobile layout */}
  <div class="flex flex-col md:hidden">
    {/* top row */}
    <div class="flex pb-3">
      <a href={permalink}>
        <Image
          class="max-w-[unset]"
          src={posterUrl}
          alt={`poster for ${title}`}
          height={height}
          width={width}
        />
      </a>
      <div class="pl-2">
        <TitleLink classes={["text-xl"]} href={permalink}>
          {title}
        </TitleLink>
        <div class="pt-2">
          <Rating rating={rating} />
        </div>
        {award && <div class="pt-2">{award.emoji} Award Winning</div>}
      </div>
    </div>

    {/* bottom row layout */}
    <p class:list={["pt-1", "border-t-2", "italic", borderColors]}>{blurb}</p>
  </div>
</div>
