---
import type { Watch } from "../../airtable/data/watches";
import TitleLink from "../links/TitleLink.astro";
import BaseBox from "./BaseBox.astro";

type Props = {
  watch: Watch;
  numWatch: number;
};
const { watch, numWatch } = Astro.props;
---

<BaseBox
  type="movie"
  notes={watch.notes}
  rating={watch.rating}
  image={{
    posterUrl: watch.movie.posterUrl,
    height: 187.5,
    width: 125,
    title: watch.movie.title,
    mediaPermalink: watch.movie.permalink,
  }}
  icons={[
    ...(watch.movie.collections ?? []).map((collection) => ({
      visible: true,
      title: collection.nameOnly,
      icon: collection.emoji,
    })),
    {
      visible: watch.watchedInTheater,
      title: "Watched in Theater",
      icon: "ðŸ¿",
    },
    {
      visible: Boolean(watch.movie.award),
      title: "Award Winning",
      icon: watch.movie.award?.emoji,
    },
  ]}
  shrinkFooterText
>
  <span slot="title">
    <TitleLink href={watch.movie.permalink}>{watch.movie.title}</TitleLink>
     ({watch.movie.yearReleased})
  </span>

  <Fragment slot="footer">
    <span>{watch.dateFinished}</span>
    <span
      ><span class="hidden md:inline">Watch{" "}</span>#{numWatch}{
        numWatch === 1 && !watch.isFirstWatch && "*"
      }</span
    >
  </Fragment>
</BaseBox>
