---
import { Image } from "astro:assets";

import { medals } from "../../airtable/data/common";
import type { Watch } from "../../airtable/data/watches";
import { moviePermalink } from "../../utils";
import TitleLink from "../links/TitleLink.astro";
import BaseBox from "./BaseBox.astro";

type Props = {
  watch: Watch;
  numWatch: number;
};
const { watch, numWatch } = Astro.props;

const permalink = moviePermalink(watch.movie.slug);
---

<BaseBox type="movie" notes={watch.notes} rating={watch.rating}>
  <a slot="image" href={permalink}>
    <Image
      src={watch.movie.posterUrl}
      alt={`poster for ${watch.movie.title}`}
      height={187.5}
      width={125}
    /></a
  >

  <span slot="title">
    <TitleLink href={permalink}>{watch.movie.title}</TitleLink>
     ({watch.movie.yearReleased})
  </span>

  <Fragment slot="icons">
    {
      watch.movie.award && (
        <div class="inline px-1">{medals[watch.movie.award.tier]}</div>
      )
    }
    <!-- Add collection link: TKTK -->
    {
      watch.movie.collections?.map((collection) => (
        <div class="inline px-1">{collection.split(" ")[0]}</div>
      ))
    }
  </Fragment>

  <Fragment slot="footer">
    <span>
      <span class="hidden md:inline">Watched on:{" "}</span>{watch.dateWatched}
    </span>
    <span>Watch #{numWatch}{numWatch === 1 && !watch.isFirstWatch && "*"}</span>
  </Fragment>
</BaseBox>
