---
import { Image } from "astro:assets";

import type { Watch } from "../../airtable/data/watches";
import TitleLink from "../links/TitleLink.astro";
import BaseBox from "./BaseBox.astro";

type Props = {
  watch: Watch;
  numWatch: number;
};
const { watch, numWatch } = Astro.props;
---

<BaseBox
  type="movie"
  notes={watch.notes}
  rating={watch.rating}
  shrinkFooterText
>
  <a slot="image" href={watch.movie.permalink}>
    <Image
      class="max-w-[unset]"
      src={watch.movie.posterUrl}
      alt={`poster for ${watch.movie.title}`}
      height={187.5}
      width={125}
    /></a
  >

  <span slot="title">
    <TitleLink href={watch.movie.permalink}>{watch.movie.title}</TitleLink>
     ({watch.movie.yearReleased})
  </span>

  <Fragment slot="icons">
    {
      watch.movie.award && (
        <div title="Award Winning" class="inline px-1">
          {watch.movie.award.emoji}
        </div>
      )
    }
    {
      watch.movie.collections?.map((collection) => (
        <div title={collection.nameOnly} class="inline px-1">
          {collection.emoji}
        </div>
      ))
    }
    {
      watch.watchedInTheater && (
        <div title="Watched in Theater" class="inline px-1">
          🍿
        </div>
      )
    }
  </Fragment>

  <Fragment slot="footer">
    <span>{watch.dateFinished}</span>
    <span
      ><span class="hidden md:inline">Watch{" "}</span>#{numWatch}{
        numWatch === 1 && !watch.isFirstWatch && "*"
      }</span
    >
  </Fragment>
</BaseBox>
