---
import { SEO, type Props as SEOProps } from "astro-seo";

import Navbar from "../components/Navbar.astro";
import type { ExternalUrl } from "../airtable/types";
import type { Category } from "../utils";

type ImageInfo = {
  url: ExternalUrl;
  height: number;
  width: number;
  // https://en.wikipedia.org/wiki/Media_type#Common_examples
  type: "png" | "jpeg";
};

type Props = {
  pageTitle: string; // shown in the tab
  seoTitle: string; // shown in the OG embed
  seoDescription: `${string}.`;
  activeTab?: `${Category}s` | "search";
  ogImg?: ImageInfo;
};

const OG_IMG_URL = "https://david.reviews/og.png";

const defaultOgImg: ImageInfo = {
  url: OG_IMG_URL,
  height: 1080,
  width: 1920,
  type: "png",
};

const {
  activeTab,
  pageTitle: title,
  seoTitle,
  seoDescription: description,
  ogImg = defaultOgImg,
} = Astro.props;

const groupedSeo: SEOProps = {
  title,
  titleTemplate: "%s | david.reviews",
  description,
  openGraph: {
    basic: {
      title: seoTitle,
      type: "website",
      image: ogImg.url,
    },
    optional: {
      siteName: "david.reviews",
    },
    image: {
      type: `image/${ogImg.type}`,
      width: ogImg.width,
      height: ogImg.height,
      alt:
        ogImg.url === OG_IMG_URL
          ? "A banner for david.reviews, showing the site title and icons for games, movies, and books."
          : `The cover for the media being reviewed.`,
    },
  },
};
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- https://www.favicon.cc/?action=icon&file_id=806754 -->
    <link
      href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAJ6TrAFy+8QCC0vgA7+/vAC6n7ACE0/gAS2RuAKbU5QC/7f4AJ6TqACmh5gAAAAAAAAAAAAAAAAAAAAAARERERERERABEREREREREAEREREREREQAREREeIRERABHd3SYhUREAERERJklVEQAREREkzUVRABHd3RDNlFUAEREREQzZRUAREREREM2WlBHd3d3RDNltUREREREQzZVREREREREMzVHd3d3d0RDM0REREREREQzRERERERERAMAAwAAAAMAAAADAAAAAwAAAAMAAAADAAAAAwAAAAMAAAADAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAgAA"
      rel="icon"
      type="image/x-icon"
    />
    <link rel="apple-touch-icon" href="/apple-icon-180.png" />
    <link rel="me" href="https://mastodon.social/@xavdid" />
    <meta name="fediverse:creator" content="@xavdid@mastodon.social" />
    <!-- advertise the feeds -->
    {
      ["everything", "games", "movies", "books"].map((type) => (
        <link
          rel="alternate"
          type="application/rss+xml"
          title={`david.reviews: ${type}`}
          href={`/feeds/${type}.xml`}
        />
      ))
    }

    <meta name="generator" content={Astro.generator} />
    <script
      is:inline
      data-goatcounter="https://david-reviews.goatcounter.com/count"
      async
      src="https://gc.zgo.at/count.js"></script>

    <SEO {...groupedSeo} />
  </head>
  <body class="dark:bg-zinc-800 dark:text-white">
    <Navbar active={activeTab} />
    <main class="mx-auto max-w-[95%] pb-4 md:max-w-xl">
      <slot />
    </main>
  </body>
</html>
