---
import { SEO, type Props as SEOProps } from "astro-seo";

import Navbar from "../components/Navbar.astro";
import { getGitSha, type Category } from "../utils/data";
import { feedTypes } from "../utils/rss";
import { type ImageInfo } from "../utils/images";

type Props = {
  /**
   * shown in the tab; ` | david.reviews` is appended
   */
  pageTitle: string;
  /**
   * summarizes the page for search engines
   */
  pageDescription: `${string}.` | `${string}!`;
  /**
   * shown in the OG embed;
   */
  seoTitle?: string;
  /**
   * shown as the OG description;
   */
  seoDescription?: `${string}.`;
  /**
   * which nav item is selected and which color/outline the navbar is
   */
  activeTab?: `${Category}s` | "articles" | "search" | "about" | "contact";
  /**
   * image to replace the default share picture
   */
  ogImg?: ImageInfo;
  /**
   * makes the page's max-width wider, like for articles
   */
  wide?: boolean;
  /**
   * the date this page went live; the article date or first review published
   */
  publishedOn?: string;
  /**
   * the date of the last review published, if there's more than 1
   */
  updatedOn?: string;
};

const OG_IMG_URL = "https://david.reviews/og.png";

const defaultOgImg: ImageInfo = {
  url: OG_IMG_URL,
  height: 1080,
  width: 1920,
  type: "png",
};

const {
  activeTab,
  pageTitle,
  pageDescription,
  seoTitle,
  seoDescription,
  ogImg = defaultOgImg,
  wide,
  publishedOn,
  updatedOn,
} = Astro.props;

const groupedSeo: SEOProps = {
  title: pageTitle,
  titleTemplate: "%s | david.reviews",
  description: pageDescription,
  openGraph: {
    basic: {
      title: seoTitle ?? pageTitle,
      type: publishedOn ? "article" : "website",
      image: ogImg.url,
      // url could be defined here, but it gets a sensible default
    },
    optional: {
      siteName: "david.reviews",
      description: seoDescription ?? pageDescription,
    },
    image: {
      type: `image/${ogImg.type}`,
      width: ogImg.width,
      height: ogImg.height,
      alt:
        ogImg.url === OG_IMG_URL
          ? "A banner for david.reviews, showing the site title and icons for games, movies, and books."
          : `The cover for the media being reviewed.`,
    },
    article: publishedOn
      ? {
          publishedTime: publishedOn,
          modifiedTime: updatedOn,
          authors: ["David Brownman"],
        }
      : undefined,
  },
};
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <!-- generated from https://realfavicongenerator.net/ -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <meta name="msapplication-TileColor" content="#603cba" />
    <meta name="theme-color" content="#00274c" />
    <!-- end generated -->
    <link rel="me" href="https://mastodon.social/@xavdid" />
    <meta name="fediverse:creator" content="@xavdid@mastodon.social" />
    <!-- advertise the feeds -->
    {
      feedTypes.map((type) => (
        <link
          rel="alternate"
          type="application/rss+xml"
          title={`david.reviews: ${type}`}
          href={`/feeds/${type}.xml`}
        />
      ))
    }

    <meta name="generator" content={Astro.generator} />
    <meta name="revision" content={getGitSha()} />
    <script
      is:inline
      data-goatcounter="https://david-reviews.goatcounter.com/count"
      async
      src="https://gc.zgo.at/count.js"></script>

    <SEO {...groupedSeo} />
  </head>
  <body class="dark:bg-zinc-800 dark:text-white">
    <Navbar active={activeTab} />
    <main
      class:list={[
        "mx-auto max-w-[95%] pb-4",
        wide ? "md:max-w-2xl" : "md:max-w-xl",
      ]}
    >
      <slot />
    </main>
  </body>
</html>
