---
import type { MarkdownLayoutProps } from "astro";
import Layout from "./Layout.astro";
import RenderedMarkdown from "../components/RenderedMarkdown.astro";
import { capitalize } from "../utils/data";

// these are not validated (like a content collection would be)
type Props = MarkdownLayoutProps<{
  activeTab: "about" | "contact";
  ogDescription: `${string}.`;
}>;

const {
  frontmatter: { activeTab, ogDescription },
} = Astro.props;
---

<Layout
  pageTitle=`${capitalize(activeTab)}`
  seoTitle=`${capitalize(activeTab)}`
  seoDescription={ogDescription}
  wide
  activeTab={activeTab}
>
  <div class="pt-4">
    <RenderedMarkdown>
      <slot />
    </RenderedMarkdown>
  </div>
</Layout>
